<h2><%= @round.start_date.strftime('%d %b %Y') %> - <%= @round.end_date.strftime('%d %b %Y') %></h2>
<div class="container">
  <table class="custom-table table">
    <tbody>
      <% @cycles.each do |cycle| %>
        <tr class='text-center'>
          <!--<h4><%#= link_to cycle.group.title, round_cycle_path(@round, cycle) %></h4>-->
          <td class="custom-table"><%= link_to cycle.group.title, round_cycle_path(@round, cycle) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="container text-center">
    <%= link_to 'Back to all cycles', rounds_path, class: "btn white-button mt-3" %>
  </div>
</div>
