<p style="color: green"><%= notice %></p>

<h1>Cycles</h1>

<div id="cycles">
  <% @cycles.each do |cycle| %>
    <%= render cycle %>
    <p>
      <%= link_to "Show this cycle", cycle %>
    </p>
  <% end %>
</div>

<%= link_to "New cycle", new_cycle_path %>
