.match-index-card {
  text-align: center;
  border-radius: 2rem;
  background-color: $light-gray;
  border: 1px solid white;
  padding: 0.5rem 1rem;

  .match-card-players {
    display: flex;
    justify-content: space-around;

    p {
      font-size: 1rem;

    }
  }

  p {
    margin-bottom: 0.5rem;
    font-size: 1rem;

  }

  margin-bottom: 1rem;

}

.leaderboard-card {
  text-align: center;
  border-radius: 2rem;
  background-color: $light-gray;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;

  .leaderboard-stats {
    display: flex;
    width: 20%;
    justify-content: space-between;
  }

  .leaderboard-username {
    width: 60%;
  }
}
