<div class="ms-3 mb-4">
  <%= link_to "All Groups", admin_groups_path, class: "btn white-button ms-1" %>
  <h1>Create a New Group</h1>
  <%= simple_form_for @group, url: admin_groups_path, method: :post, local: true do |f| %>
    <div class="container">
      <%= f.input :title, placeholder: "Group X" %>
      <div class="container text-center">
        <%= f.submit "Create Group", class: "btn white-button mt-3" %>
      </div>
    </div>
  <% end %>
</div>
