// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// body {
//   background-color: $stone;

//   a {
//     color: black;
//   }
// }

body {
  background-color: $stone;
  color: $gray;

  h2 {
    margin: 2rem 0;
    text-align: center;
  }

  h1 {
    margin: 2rem 0;
    text-align: center;
  }


  h3, h6,
  p {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  a {
    text-decoration: none;
    display: inline-block;
    color: $gray ;
  }

  @media (max-width: 576px) {

    padding-bottom: 60px; // roughly navbar height

  }
}
